<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
  <ol>
	  <% @query.terms.each do |term|%>
	  	<li>term.name</li>
	  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
